extends layout

block content
  body
    nav
      form(
        action='/tweet'
        method='post'
      )
        input(
          type='text'
          placeholder='New Tweet'
          name='twit'
        )
        button(
          type='submit'
        ) SEND
      a.nav-link(
        href='/stored-tweets'
      ) View Stored Tweets
        
    main
      ul
        for twit in tweets
          li= twit.text
            form(
              action='/retweet/' + twit.id_str
              method='post'
            )
              button.retweet(
                type='submit'
              )
                i.fa.fa-retweet

  script.
    $('.tweets').DataTable( {
    'iDisplayLength': 50
    });
    $('.dataTables_filter input').attr("placeholder", "search");
