extends layout

block content
    form(
      action='/tweet'
      method='post'
    )
      input(
        type='text'
        placeholder='Tweet'
        name='twit'
      )
      button(
        type='submit'
      ) SEND
    
    table  
      thead
        tr
          th database tweets
      tbody
        for twit in tweets
          tr
            td= twit.tweet
              form(
                action='/retweet/' + twit.id_str
                method='post'
              )
                button(
                  class='btn'
                  type='submit'
                ) retweet
