doctype html
html(lang='en')
  head
    title Retweet
  body
    h1 Retweeter

    form(
      action='/tweet'
      method='post'
    )
      input(
        type='text'
        placeholder='Tweet'
        name='twit'
      )
      button(
        type='submit'
      ) SEND
    
    table  
      thead
        tr
          th database tweets
      tbody
        for twit in tweets
          tr
            td= twit.tweet
