extends layout

block content
  body
    nav
      a.nav-link(
        href='/stored-tweets'
      ) View Stored Tweets
        
    main
      h2 User timeline
      form(
        action='/tweet'
        method='post'
      )
        input(
          type='text'
          placeholder='New Tweet'
          name='twit'
          maxlength="140"
        )
        select(name='frequency')
          option(value='30000') 30 seconds
          option(value='60000') 1 minute
          option(value='300000') 5 minutes
          option(value='6400000') 1 hour
          option(value='86400000') 24 hours
        button(
          type='submit'
        ) SEND

      ul
        for twit in tweets
          li= twit.text
            //- form(
            //-   action='/retweet/' + twit.id_str
            //-   method='post'
            //- )
            //-   button.retweet(
            //-     type='submit'
            //-   )
            //-     i.fa.fa-retweet

  script.
    $('.tweets').DataTable( {
    'iDisplayLength': 50
    });
    $('.dataTables_filter input').attr("placeholder", "search");
