extends layout

block content
    nav
      a.nav-link(
        href='/'
      ) Back to Home

    main
      h2 Stored Tweets
      table.tweets.datatable
        thead
          tr
            th Stored tweet
        tbody
          for twit in tweets
            tr
              td= twit.tweet
                form(
                  action='/dbretweet/' + twit.id_str
                  method='post'
                )
                  button.retweet(
                    type='submit'
                  )
                    i.fa.fa-retweet

    script.
      $('.tweets').DataTable( {
      'iDisplayLength': 50
      });
      $('.dataTables_filter input').attr("placeholder", "search");
